#pagination-demo2{
	display: table;
	margin: 20px auto 10px auto;
}
table{
	table-layout: fixed;
}
.complainText,.replyText{
	overflow:hidden;
	width:30px;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.panel-body{
	float: left;
}
.panel-body p{
	display:block;
	margin-left: 10px;
	text-align: left;
}
.panel-body label{
	float: left;
}
