#repairMan{
	margin:15px;
	overflow-x: scroll;
}
table{
	table-layout:fixed;
	background: #fff;
}
.othertext{
	text-align: left;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
#out{
	width: 150px;
}
.edit{
	font-weight: bold;
}
.edit:hover{
	text-decoration: none;
}
.remove{
	color: red;
	font-weight: bold;
	position: relative;
	left: 10px;
}
.remove:hover{
	color: red;
	text-decoration: none;
}